fastapi
gunicorn
uvicorn[standard]
python-dotenv
sqlalchemy
alembic
psycopg[binary]
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
email-validator
requests
moviepy
Pillow
openai-whisper
torch
numpy
praw
boto3
edge-tts
groq
faster-whisper
modal